<h3 class="content-wrapper text-center">Вопросы</h3>
<div class="row">
  <div class="user-questions buffer-both">
    <%# Обратите внимание, как мы делаем цикл по всем вопросам, точно %>
    <%# также, как мы делали циклы в ruby %>
    <% @hashtag_questions.each do |question| %>
      <%# Мы рисуем здесь для кажого вопроса в списке вопросов фрагмент %>
      <%# (паршал), передавая в него текущий вопрос. Это очень похоже на %>
      <%# вызов метода в ruby %>
      <%= render partial: 'questions/question', object: question %>
    <% end %>
  </div>
</div>